* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  display: flex;
  flex: 1;
}

body {
  --accent-color-h: 211;
  --accent-color-s: 86%;
  --accent-color-l: 57%;

}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

#sidebar {
  position: relative;
  width: 270px;
  overflow: auto;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  z-index: 100;
}
  #sidebar nav {
    width: 100%;
    box-sizing: border-box;
    padding: 18px 30px 20px;
  }
    x-accordion { margin: 0; }
      x-accordion > main {
        padding: 4px 0 8px 17px;
      }
      main > x-label {
        padding: 7px 0 7px 0;
      }
  #sidebar nav x-label {
    font-size: 14px;
  }
#main {
  display: block;
  background: #fdfdfd;
  width: 100%;
  height: 100%;
  min-width: 20px;
  min-height: 20px;
  position: relative;
  flex: 1;
  overflow: hidden
}

.tui-editor-contents {
  font-size: 18px;
}

.tui-editor-contents a, #sidebar x-label {
  cursor: pointer;
}

.tui-editor-defaultUI {
  font-family: "Merriweather", "Noto Serif", "Liberation Serif", Georgia, "Times New Roman", serif;
  font-weight: lighter;
}

#sidebar x-label:hover, #sidebar x-accordion > header:hover {
  background-color: rgba(0,0,0, 0.2);
}
#sidebar x-accordion > header > x-label:hover {
  background-color: unset;
}

#search {
  top: 0;
  width: 60%;
  z-index: 100;
}

#search x-input {
  max-width: unset;
  height: unset;
}

#search ol {
  border: 1px solid #bfbfbf;
  background-color: white;
  max-height: 312px;
  height: 100%;
  overflow-y: auto;
  padding: 0;
}

#search ol li, #search x-input {
    padding: 0.75em 1em;
    line-height: 2em;
    border-bottom: 1px solid #bfbfbf;
    list-style-type: none;
}

#search ol li:last-of-type {
  border-bottom: none;
}